{% extends 'master' %}

{% block content %}
<h1>About</h1>

<p>Description what reconx is, its purpose, who reconx is, word about open source?</p>

<p>What about privacy statements, legal notice, terms of service etc?</p>
{% endblock %}
