{% extends 'profile' %}

{% block profile %}
<h2>Following</h2>

<div class="media">
  <div class="media-left">
    <div class="avatarholder">I</div>
  </div>
  <div class="media-body">
    <div class="media-heading">Infowars <a href="/infowars">/infowars</a></div>
    <div class="media-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
  </div>
</div>

{% endblock %}
