{% extends 'master' %}

{% block content %}
<h1>Forgot Password</h1>

<div class="alert alert-success">
  Email with instructions has been sent.
</div>

<form class="form" method="post">
  {{ csrfField }}
  <fieldset class="form-group">
    <label for="username">Email:</label>
    <input id="username" type="text" placeholder="" class="form-control">
  </fieldset>

  <div class="form-actions">
    <button type="submit" class="btn btn-primary btn-block">Submit</button>
  </div>
</form>
{% endblock %}
