{% extends 'master' %}

{% block content %}
  <h1>Login</h1>

  {% include 'flash_messages' %}

  {{ form.open({action: 'AuthController.login'}) }}
  {{ csrfField }}

  <fieldset class="form-group">
    {{ form.label('identifier', 'Email:') }}
    {{ form.text('identifier', null, { class: 'form-control' }) }}
  </fieldset>

  <fieldset class="form-group">
    {{ form.label('password', 'Password:') }}
    {{ form.password('password', null, { class: 'form-control' }) }}
    <div class="help-block"><a href="/forgot">Forgot password?</a></div>
  </fieldset>

  <div class="form-actions">
    {{ form.submit('Submit', 'submit', { class: 'btn btn-primary' }) }}
  </div>
  {{ form.close() }}
{% endblock %}
