{% extends 'master' %}

{% block content %}
<h1>Signup</h1>

{% if old('errors') %}
{% for error in old('errors') %}
<div class="alert alert-error"> {{ error.message }}</div>
{% endfor %}
{% endif %}

{{ form.open({action: 'AuthController.signup'}) }}
{{ csrfField }}

<fieldset class="form-group">
  {{ form.label('USERNAME:') }}
  {{ form.text('username', null, { class: 'form-control'}) }}
</fieldset>

<fieldset class="form-group">
  {{ form.label('EMAIL:') }}
  {{ form.text('email', null, { class: 'form-control'}) }}
</fieldset>

<div class="form-actions">
  {{ form.submit('Submit', 'submit', { class: 'btn btn-primary btn-block' }) }}
</div>
{{ form.close() }}
{% endblock %}
