{% extends 'master' %}

{% block content %}
  <h1>Latest Profiles</h1>

  <div class="media">
    <div class="media-left">
      <div class="avatarholder">Z</div>
    </div>
    <div class="media-body">
      <div class="media-heading">Zero Hedge <a href="/zerohedge">/zerohedge</a></div>
      <div class="media-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga vel, voluptates,
        doloremque nesciunt illum est corrupti nostrum expedita adipisci dicta vitae? Eveniet maxime quibusdam modi
        molestias alias et incidunt est.
      </div>
    </div>
  </div>

  <div class="media">
    <div class="media-left">
      <div class="avatarholder">I</div>
    </div>
    <div class="media-body">
      <div class="media-heading">Infowars <a href="/infowars">/infowars</a></div>
      <div class="media-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
    </div>
  </div>

  <div class="media">
    <div class="media-left">
      <div class="avatarholder">D</div>
    </div>
    <div class="media-body">
      <div class="media-heading">Drudge Report <a href="/drudge-report">/drudge-report</a></div>
      <div class="media-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
    </div>
  </div>
{% endblock %}
