.search .form {
  display: flex;
  width: auto;
}

.search input#query {
  flex: 1 1 auto;
  width: 70%;
}

.search button[type=submit] {
  display: inline-block;
  flex: 0 1 auto;
  width: 20%;
}

@media screen and (min-width: 768px) {
  .content-container {
    padding-left: 2rem;
  }
}

.markdown {
  word-break: break-all;
}

.footer {
  margin-top: 2rem;
  border-top: solid black 1px;
  padding-top: 1rem;
  text-align: center;
  padding-bottom: 1rem;
}
