{% extends 'master' %}

{% block content %}
  <h1>Edit Profile {{ profile.url }}</h1>

  {% include 'flash_messages' %}

  {{ form.open({ action: 'ProfileController.update', params: {username: profile.username } }) }}
  {{ csrfField }}

  <fieldset class="form-group">
    {{ form.label('name', "Name:") }}
    {{ form.text('name', profile.fullName, { class: 'form-control' }) }}
  </fieldset>

  <fieldset class="form-group">
    {{ form.label('shortDescription', "Description:") }}
    {{ form.text('shortDescription', profile.shortDescription, { class: 'form-control' }) }}
  </fieldset>

  <fieldset class="form-group">
    {{ form.textarea('longDescription', profile.longDescription, { class: 'form-control', rows: 15, style: 'width: 100%' }) }}
    <div class="help-block">reconx.me uses GitHub Flavored Markdown: <a
        href="https://guides.github.com/features/mastering-markdown/" target="_blank">Mastering Markdown</a></div>
  </fieldset>

  <div class="form-actions">
    {{ form.submit('Submit', 'submit', { class: 'btn btn-primary'}) }}
    <a href="{{ profile.url }}">Cancel</a>
  </div>

  {{ form.close() }}
{% endblock %}

