{% extends 'profile/show' %}
{% from 'macros.profile_list_item' import profileListItem %}

{% block profile %}
  <h2>Following</h2>

  {% for profile in profiles %}
    {{ profileListItem(profile) }}
  {% endfor %}

  {% if profiles.length == 0 %}
    <p>Not following.</p>
  {% endif %}
{% endblock %}
