{% extends 'master' %}

{% block content %}

  <h1>{{ profile.fullName }} <a href="{{ profile.url }}">{{ profile.url }}</a></h1>

  {% include 'flash_messages' %}

  {% if profile.shortDescription %}
    <p>{{ profile.shortDescription }} {% if canEdit %}
        <a href="{{ profile.url }}/edit">Edit</a>
      {% endif %}</p>
  {% endif %}
  <p>
    {% if currentUser %}
      <button type="button" class="btn btn-default btn-ghost btn-follow">Follow</button>
    {% endif %}
    <a href="{{ profile.url }}/followers" id="followers">{{ profile.followers_count }} followers</a>
    <a href="{{ profile.url }}/following">{{ profile.following_count }} following</a>
  </p>

  {% if currentUser %}
    <script type="text/javascript">
      ready(function () {
        var isFollowing = !!({{ isFollowing }} +0);
        var followers = ({{ profile.followers_count }} +0);

        var btn = document.querySelector('button.btn-follow');
        var link = document.querySelector('a#followers');

        if (btn) {
          btn.innerHTML = isFollowing ? 'Following' : 'Follow';
          btn.addEventListener('click', function () {
            followers = followers + (isFollowing ? -1 : 1);
            isFollowing = !isFollowing;

            if (btn) {
              btn.innerHTML = isFollowing ? 'Following' : 'Follow';
            }
            if (link) {
              link.innerHTML = followers + ' followers';
            }

            var request = new XMLHttpRequest();
            request.open(isFollowing ? 'POST' : 'DELETE', '/api/profiles/{{ currentUser.id }}/follows/{{ profile.id }}', true);
            request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
            request.send('_csrf={{ csrfToken }}');
          });
        }
      });
    </script>
  {% endif %}

  {% block profile %}
    {% markdown %}
    {{ profile.longDescription }}
    {% endmarkdown %}

    {% if canEdit %}
      <p> <a href="{{ profile.url }}/edit">Edit</a> </p>
    {% endif %}
  {% endblock %}

{% endblock %}
