{% extends 'master' %}

{% block content %}
  <h1>Delete Account</h1>

  <p>Enter your password to delete your account. This can not be undone.</p>

  <form class="form" method="post">
    {{ csrfField }}

    <fieldset class="form-group">
      <label for="password">PASSWORD:</label>
      <input id="password" type="password" placeholder="" class="form-control">
    </fieldset>

    <div class="form-actions">
      <button type="button" class="btn btn-primary">Submit</button>
      <a href="/account/edit">Cancel</a>
    </div>
  </form>
{% endblock %}
