{% extends 'master' %}

{% block content %}
  <h1>Edit Account</h1>

  {% include 'flash_messages' %}

  {{ form.open({action: 'AccountController.update'}) }}
  {{ csrfField }}

  <fieldset class="form-group">
    {{ form.label('username', 'Username:') }}
    {{ form.text('username', currentUser.username, { class: 'form-control'}) }}
  </fieldset>

  <fieldset class="form-group">
    {{ form.label('email', 'Email:') }}
    {{ form.text('email', currentUser.email, { class: 'form-control', readonly: 'readonly'}) }}
  </fieldset>

  <div class="form-actions">
    {{ form.submit('Submit', 'submit', { class: 'btn btn-primary'}) }}
    <a href="/account/password">Change password</a>
    <a href="/account/delete">Delete account</a>
  </div>
  {{ form.close() }}

{% endblock %}
