{% extends 'master' %}

{% block content %}
  <h1>Change Password</h1>

  {% include 'flash_messages' %}

  {{ form.open({action: 'AccountController.updatePassword'}) }}
  {{ csrfField }}

  <fieldset class="form-group">
    {{ form.label('old_password', 'Old password:') }}
    {{ form.password('old_password', null, { class: 'form-control'}) }}
  </fieldset>

  <fieldset class="form-group">
    {{ form.label('new_password', 'New password:') }}
    {{ form.password('new_password', null, { class: 'form-control'}) }}
  </fieldset>

  <fieldset class="form-group">
    {{ form.label('confirmation', 'Confirmation:') }}
    {{ form.password('confirmation', null, {class: 'form-control'}) }}
  </fieldset>

  <div class="form-actions">
    {{ form.submit('Submit', 'submit', { class: 'btn btn-primary'}) }}
    <a href="/account/edit">Cancel</a>
  </div>
  {{ form.close() }}
{% endblock %}
