{% extends 'master' %}

{% block content %}
  <h1>Change Password</h1>

  {% include 'flash_messages' %}

  {{ form.open({action: 'AuthController.setPassword'}) }}
  {{ csrfField }}

  <fieldset class="form-group">
    {{ form.label('password', 'New password:') }}
    {{ form.password('password', null, { class: 'form-control'}) }}
  </fieldset>

  <fieldset class="form-group">
    {{ form.label('confirmation', 'Confirm:') }}
    {{ form.password('confirmation', null, {class: 'form-control'}) }}
  </fieldset>

  <div class="form-actions">
    {{ form.submit('Submit', 'submit', { class: 'btn btn-primary'}) }}
  </div>
  {{ form.close() }}
{% endblock %}
