Somebody asked to reset your password on reconx.me.

If it was not you, you can safely ignore this email.

Click the following link to choose a new password:

{{ base_url }}/account/password-reset/{{ email_token }}

If the above link is not clickable, try copying and pasting it into the address bar of your web browser.
